<div id="side-box">
	
	<div class="section">
		<ul>
			<li><%= link_to 'Amantes antropófagos', amantes_path, :class => link_classes(amantes_path) %></li>
			<li><%= link_to 'International art moves', iam_path, :class => link_classes(iam_path) %></li>			
			<li><%= link_to 'Operador de arte', operador_path, :class => link_classes(operador_path) %></li>						
		</ul>
	</div>

</div>