<div class="contained">
	<%= render :partial => "obra_nav" %>
	<iframe width="400" height="225" src="http://www.youtube.com/embed/2tbqBoswM6M" frameborder="0" allowfullscreen></iframe>		
	<hr />
	<iframe width="400" height="300" src="http://www.youtube.com/embed/C1SjiB8iMqo" frameborder="0" allowfullscreen></iframe>	
</div>