<div class="contained">

<h1>Biografía</h1>
<h3>Hermosillo, Sonora, México, 1989 / Reside en Granada, España.</h3>

<p>
	Cursa sus estudios en la Universidad de Granada dentro del programa de intercambio académico '012/1 y estudia la Licenciatura de Artes Plásticas en la Universidad de Sonora, especialidad de escultura. Actualmente pertenece al proyecto de International Art Moves dentro del festival OSTRALE'012 en Dresden, Alemania y participante en el proyecto de producción Operador de Arte en Tijuana, México. Fue becaria del Fondo Estatal para la Cultura y las Artes de Sonora '010-'011 en la categoría de Jóvenes Creadores. Obtención de mención honorífica en la 13va. Bienal de Artes Visuales del Noroeste de México, seleccionada en la 12va. Bienal de Artes Visuales del Estado de Sonora y en el Concurso de Fotografía Creativa, Fotoseptiembre '010 y '011. Cuenta con una exposición individual titulada Sentido inverso en noviembre de '011 y con varias exposiciones colectivas en Hermosillo, Nuevo León, San Luis Potosí, Sinaloa, Sonora y España. 
</p>
</div>