<div class="contained">

<h1>Biografía</h1>
<h3>Alejandra Avilés / Cajeme, 1989 / Reside en Hermosillo, Sonora.</h3>

<p>
	Estudió la Licenciatura en Artes Plásticas en la Universidad de Sonora con estancia en la Facultad de Bellas Artes Alonso Cano en Granada, España.
	Participó en el International Art Moves dentro del festival OSTRALE 2012 de Dresden, Alemania y en el proyecto de producción Operador de Arte en la ciudad de Tijuana, Baja California.
</p>
<p>
	Fue becaria del Fondo Estatal para la Cultura y las Artes de Sonora 2010-2011 en la categoría de Jóvenes Creadores.
	Obtuvo mención honorífica en la 13va. Bienal de Artes Visuales del Noroeste de México y fue seleccionada en la 12va. emisión de la misma bienal, así como en el Concurso de Fotografía Creativa, Fotoseptiembre 2010 y 2011.
	Cuenta con una exposición individual, Sentido Inverso en la Casa de la Cultura de Hermosillo, así como varias exposiciones colectivas en Nuevo León, San Luis Potosí, Sinaloa, Sonora y España.	
</p>
</div>




