<div class="contained">

<div style="margin-top:120px;width:638px;position:relative;overflow:hidden;">
<%= image_tag('bio/profile.jpg', :style => "float:right;width:112px;clear:right;") %>
<div style="float:left;margin-top:-15px;clear:right;">alehandra.aviles@gmail.com</div>
</div>
</div>
<hr />