<div class="contained">
	<%= render :partial => "obra_nav" %>
	<iframe width="400" height="225" src="http://www.youtube.com/embed/mrJRDnO63lw" frameborder="0" allowfullscreen></iframe>	
	<hr />
	<iframe width="400" height="225" src="http://www.youtube.com/embed/l3hGVhNca6Y" frameborder="0" allowfullscreen></iframe>
	<hr />
	<iframe width="400" height="225" src="http://www.youtube.com/embed/vHJ-xfYv8Oo" frameborder="0" allowfullscreen></iframe>		
	
</div>