<div class="contained">
	<%= render :partial => "obra_nav" %>
	<iframe width="400" height="225" src="http://www.youtube.com/embed/mrJRDnO63lw?rel=0" frameborder="0" allowfullscreen></iframe>	
	<hr />
	<iframe width="400" height="225" src="http://www.youtube.com/embed/l3hGVhNca6Y?rel=0" frameborder="0" allowfullscreen></iframe>
	<hr />
	<iframe width="400" height="225" src="http://www.youtube.com/embed/vHJ-xfYv8Oo?rel=0" frameborder="0" allowfullscreen></iframe>		
	
</div>