<div class="contained">
	<%= render :partial => "proceso_nav" %>
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("PROCESO/IAM ART MOVES/", (1..7)), 
		:gallery => "a"} 
	%>	
</div>