<div class="contained">
	<%= render :partial => "obra_nav" %>
	<iframe width="400" height="225" src="http://www.youtube.com/embed/JCv4XmFOjc8" frameborder="0" allowfullscreen></iframe>
	<hr />
	<iframe width="400" height="300" src="http://www.youtube.com/embed/A0zx2hDgJRk" frameborder="0" allowfullscreen></iframe>	
	<hr />
	<iframe width="400" height="225" src="http://www.youtube.com/embed/I5dwY2587AI" frameborder="0" allowfullscreen></iframe>	
	<hr />
	<iframe width="400" height="225" src="http://www.youtube.com/embed/sd3O9F35LeQ" frameborder="0" allowfullscreen></iframe>	
	
</div>