<div class="contained">
	<div id="left-nav">
		<div class="section">
			<h3>Fotografía</h3>
			<ul>
				<li>Dualidades poeticas</li>
				<li>Paisajes interrupidos</li>
				<li>De cara a cielo negro</li>
			</ul>
		</div>
		
		<div class="section">
			<h3>Audiovisual</h3>
		</div>
		
		<div class="section">
			<h3>Sentido Inverso</h3>
			<ul>
				<li>Contenido de obra</li>
				<li>Registro</li>
				<li>Texto curatorial</li>
			</ul>
		</div>
	</div>
</div>