<div class="contained">
	<%= render :partial => "obra_nav" %>
	
	<div class="section divided">
		<%= render :partial => 'lightbox', :locals => { 
			:images => expand_image_paths("sala_de_espera/", ('a'..'c')), 
			:gallery => "a"} 
		%>	
	</div>
	
	<div class="section divided">
	<iframe width="400" height="225" src="http://www.youtube.com/embed/d9_18rXMDZA?rel=0" frameborder="0" allowfullscreen></iframe>	
	</div>
	
	<%= image_tag('sala_de_espera/sala_de_espera.jpg') %>
</div>