<div class="contained">
	<%= render :partial => 'proceso_nav' %>

	<h1>Serigrafía</h1>
	
	<div class="section divided">
	<%= render :partial => 'lightbox', :locals => { 
		:images => expand_image_paths("PROCESO/SERIGRAFIA/", (1..5)), 
		:gallery => "a"} 
%>
	</div>
	
	<div class="section divided">
		<%= render :partial => 'lightbox', :locals => { 
			:images => expand_image_paths("PROCESO/SERIGRAFIA/", (1..4).map{|i|"#{i}b"}), 
			:gallery => "b"} 
		%>
	</div>
	
	<div class="section">
		<%= render :partial => 'lightbox', :locals => { 
			:images => expand_image_paths("PROCESO/SERIGRAFIA/", (1..4).map{|i|"#{i}c"}), 
			:gallery => "c"} 
		%>		
	</div>

</div>